/* Bendras stilius: */
.nav-wrapper {
    background: gray;
}
.page-footer{
    background: gray;
}


/* Artūro stiliaus kodas: */





/* Aušros stiliaus kodas: */
h1{
    text-align: center;
    
}
.top img{
    width: 100%;
}




/* Luko stiliaus kodas: */





/* Andriaus stiliaus kodas: */





/* Povilo stiliaus kodas: */