/* Bendras stilius: */

.nav-wrapper {
    background: #025a5a;
}

.page-footer {
    background: #025a5a;
}

/* Artūro stiliaus kodas: */

.news-h1 {
    color: white;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news-h4 {
    color: #3535ff;
    text-align: center;
}

.news-button {
    text-align: right;
}

.button-news {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: white;
    color:#2b475f;
    border: 2px solid #2b475f; 
}

.large {
    font-size: 30px;
    ;
}

/* Aušros stiliaus kodas: */

/* HEADER */

.brand-logo img {
    height: 60px;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 60px;
        line-height: 60px;
    }
}

/* /////////////////////////// */



h1.title {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.top img {
    width: 100%;
}
.top {
    position: relative;
}
.main-button{
    border: none;
    color: #505050;
    padding: 12px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border-radius: 10%;
}
.main-button img{
    width: 11%;
}
.active, .main-button:hover{
    background-color: teal;
    color: white;
}
.container {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.middle-text{
    padding: 5%
}

.pamokos {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    object-fit: cover;
    
}

.pamokos img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    margin: 0;
}
.c-sharp, .java, .html img{
    filter: grayscale(90%);
}

.container{
    padding: 5%;
}
.parallax-container {
    height: 700px;
}
.parallax-container2 {
    height: 300px;
  }
  .parallax img{
      width: 100%;
  }

/* /////////////////////////// */

/* FOOTER */

footer .grey-text img {
    width: 100%;
}
footer ul{
    display: flex;
    justify-content: space-between;
}

footer li {
    width: 15%;
}
h6.contacts{
    line-height: 120%;
}

/* Luko stiliaus kodas: */

h3{
    text-align: center;
    color: white;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.tabContainer{
    width: 100%;
    height: 550px;
    max-width: 800px;
    margin:auto;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.tabContainer .buttonContainer {
    height: 7%;
}

.tabContainer .buttonContainer button {
    width: auto;
    height: 100%;
    float: left;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: none;
}

.tabContainer .buttonContainer button:hover {
    background-color: #025a5a;
    color: white;
}

.tabContainer .tabPanel {
    height: 93%;
    color: white;
    text-align: center;
    box-sizing: border-box;
    font-size: 22px;
    text-align: left;
}

.tabPanel{
    background: transparent;
    padding: 20px;
    border: 2px solid white;
}

.content .fonas {
    width: 100%;
}
.content {
    position: relative;
    padding-top: 4px;
}

.profilioFoto {
    position: relative;
    left: 22%;
}

/* Andriaus stiliaus kodas: */




ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    margin-left: -69%;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li b {
    color: black;
    text-decoration: none;
}

.headeris h1{
    text-align: center;


}

.card{
    align-items: center;
    border: 5px solid rgb(0, 0, 0);
    width: 100%;
margin-top: 100px;
}

.card-text{
    text-align:left;
    padding-left: 22px;
    padding-right: 22px ;
}
  
.card-video-top{
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    
}
.card-video-top iframe{
    width: 100%;
    height: 352px;
    border: 5px solid black;
    
    
}


.komanda{
    display: flex;
    justify-content: space-between;
    /* margin-top: -90px;
    margin-left: 139px;
    margin-right: 139px;
    margin-bottom: 90px; */
}
.mycard{
    width: 40%;
}

.card-image{

margin-left: 9px;
}

/* Povilo kodas CSS */

.feedback img 
{
    width: 100%;
    
    
}

.db_results 
{
    border:  2px solid gray ; 
    border-style: dotted;
    border-collapse: collapse;
    

} 
input[type=text] 
{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: black;
  font-size: large;
  
}

#feedback_form label {

 
    font-size: 20px;
    color: #025a5a;

}

#feedback_form {

 
    border-collapse: collapse;
    

}
