/* Bendras stilius: */
.nav-wrapper {
    background: #2b475f;
}

.brand-logo img{
    width: 50%;
}

.page-footer{
    background: #2b475f;
}


/* Artūro stiliaus kodas: */
h1 {
    text-align: center;
}

.konteienris {
    position: relative;
}




/* Aušros stiliaus kodas: */

        /* HEADER */


.top img{
    width: 100%;
}

        /* FOOTER */
.grey-text img{
    width: 10%;
}
.grey-text{
    display: flex;
    justify-content: center;
}

        /* INDEX */
h1{
    text-align: center;   
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -50%);
    margin: -8px;
}

.konteineris{
    width: 100%;
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
}




/* Luko stiliaus kodas: */





/* Andriaus stiliaus kodas: */

.card{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
  }



/* Povilo stiliaus kodas: */

