/* Bendras stilius: */
.nav-wrapper {
    background: #2b475f;
}

.brand-logo img{
    width: 50%;
}

.page-footer{
    background: #2b475f;
}


/* Artūro stiliaus kodas: */
h1 {
    text-align: center;
}

.konteienris {
    position: relative;
}




/* Aušros stiliaus kodas: */

        /* HEADER */


.top img{
    width: 100%;
}

        /* FOOTER */
.grey-text img{
    width: 10%;
}
.grey-text{
    display: flex;
    justify-content: center;
}

        /* INDEX */
h1{
    text-align: center;   
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -50%);
    margin: -8px;
}

.konteineris{
    width: 100%;
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
}




/* Luko stiliaus kodas: */

.tabContainer{
    width: 100%;
    height: 350px;
}

.tabContainer .buttoContainer{
    height: 15%;
}

.tabContainer .buttoContainer button{
    width: 20%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background-color: grey;
}

.tabContainer .buttoContainer button:hover{
    background-color: mediumblue;
}

.tabContainer .tabPanel{
    height: 85%;
    background-color: slategray;
    color: blue;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-size: 22px;
    display: none;
}

/* Andriaus stiliaus kodas: */

.card{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
  }



/* Povilo stiliaus kodas: */