/* Bendras stilius: */

.nav-wrapper {
    background: #2b475f;
}

.page-footer {
    background: #2b475f;
}

/* Artūro stiliaus kodas: */

.news-h1 {
    text-align: center;
}

.news-h5 {
    color: #3535ff;
}

.news-button {
    text-align: right;
}

.button-news {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: white;
    color:#2b475f;
    border: 2px solid #2b475f; 
}

/* Aušros stiliaus kodas: */

/* HEADER */

.brand-logo img {
    height: 100px;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 100px;
        line-height: 100px;
    }
}

/* /////////////////////////// */



h1.title {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.top img {
    width: 100%;
}
.top {
    position: relative;
}
.container {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.pamokos {
    display: flex;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.pamokos img {
    width: 100%;
}

/* /////////////////////////// */

/* FOOTER */

footer .grey-text img {
    width: 10%;
}

/* Luko stiliaus kodas: */

h3{
    text-align: center; 
    color: black;
    top: 120px;
    left: 50%;
    margin: 1px;
}
  
.tabContainer{
    width: 100%;
    height: 501px;
    max-width: 860px;
    border-left: auto;
    border-right: auto;
}

.tabContainer .buttonContainer {
    height: 10%;
}

.tabContainer .buttonContainer button {
    width: auto;
    height: 100%;
    float: left;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: none;
}

.tabContainer .buttonContainer button:hover {
    background-color: #2b475f;
}

.tabContainer .tabPanel {
    height: 85%;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    font-size: 22px;
    display: none;
    left: 50%;
}
/* Andriaus stiliaus kodas: */




.card{
    
    border: 5px solid rgb(0, 0, 0);
    width: 104rem;
    margin-left: auto;
margin-right: auto;
margin-top: 100px;
}

.card-text{
    text-align:right;
    padding-left: 22px;
    padding-right: 22px ;
}
  
.card-img-top{
    
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    
}
.card-img-top img{
    width: 100%;
    height: 200px;
    border:  5px solid black ;
    
}


.komanda{
    display: flex;
    justify-content: space-between;
    margin-top: -90px;
    margin-left: 139px;
    margin-right: 139px;
    margin-bottom: 90px;
}

  
