/* Bendras stilius: */

.nav-wrapper {
    background: #2b475f;
}

.page-footer {
    background: #2b475f;
}

/* Artūro stiliaus kodas: */

.news-h1 {
    text-align: center;
}

.news-h5 {
    color: #3535ff;
}

/* Aušros stiliaus kodas: */

/* HEADER */

.brand-logo img {
    height: 100px;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 100px;
        line-height: 100px;
    }
}

/* /////////////////////////// */

h1 {
    text-align: center;
}

h1.title {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.top img {
    width: 100%;
}
.top {
    position: relative;
}
/* .parallax-container {
    height: 600px;
} */

.container {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.pamokos {
    display: flex;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.pamokos img {
    width: 100%;
}

/* /////////////////////////// */

/* FOOTER */

footer .grey-text img {
    width: 10%;
}

/* Luko stiliaus kodas: */

h3{
    text-align: center; 
    color: black;
    top: 120px;
    left: 50%;
    margin: 0;
}
  
.tabContainer{
    width: 100%;
    height: 350px;
    max-width: 800px;
    border-left: auto;
    border-right: auto;
}

.tabContainer .buttonContainer {
    height: 15%;
}

.tabContainer .buttonContainer button {
    width: 20%;
    height: 100%;
    float: left;
    margin: 1px;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: grey;
}

.tabContainer .buttonContainer button:hover {
    background-color: #2b475f;
}

.tabContainer .tabPanel {
    height: 85%;
    background-color: lightgray;
    color: #2b475f;
    text-align: center;
    box-sizing: border-box;
    font-size: 22px;
    display: none;
}
/* Andriaus stiliaus kodas: */

.card {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

/* Povilo stiliaus kodas: */